wheel>=0.30.0
Cython>=0.29.0
six>=1.15.0
gensim @ file:///Users/L111376/Library/CloudStorage/OneDrive-EliLillyandCompany/Documents/GitHub/gensim
scipy>=1.6.0
psutil>=5.0.0
networkx>=2.5
numpy>=1.19.0
